/*button style*/
/*Global*/

/*button {
    color: white;
    background: #2F73B6;
    border: 3px solid #2F73B6;
    border-radius: 5px;
}
button:hover {
    background: steelblue;
}*/

/*Local*/

button.auth {
    width: 80px;
    font-size: 13px;
    padding: .3em 1em;
}
button.mainMenu{
    padding: 10px;
    width: 100%;
    font-size: xx-large;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 600px;
}

button.horMenu{
    padding: 10px;
    width: 150px;
    font-size: medium;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

button.table{
    font-size: small;
    padding: 0.3em;
    min-width: 130px;
}

button.error {
    font-size: larger;
    width: 200px;
}