div.calendarMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
    align-items: center;
}

div.calendarButtons{
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    width: 200px;
    height: 23px;
}