div.calendarMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
    align-items: center;
}

div.calendarButtons{
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    width: 200px;
    height: 23px;
}

input.calendar{
    text-align: center;
    width: 84%;
    zoom: 1.12;
}

button.calendar{
    width: 33%;
    padding: 0;
}

button.calendarCall{
    width: 12%;
    height: 23px;
    margin: -3px 0 0 -2px;
    padding: 0;
}