#adder input, #adder button, #adder select{
    display: none;
}

.hidden{
    display: none;
}



.addMark {
    background-color: lightgreen;
}

.editMark {
    background-color: lightskyblue;
}

.deleteMark {
    background-color: lightcoral;
}