div.dishOfMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0;
    padding: 3px;
    border: 1px solid black;
}

div.select, div.orderSelect{
    margin: 1px;
    flex-grow: 1;
    flex-basis: auto;
}

div.count{
    flex-basis: 40px;
}

div.free{
    flex-basis: 70px;
}

div.price{
    flex-basis: 60px;
}

div.buttonSet{
    flex-basis: 51px;
}

div.count, div.price, div.free, div.buttonSet{
    margin: 1px;
    flex-grow: 0;
}