.orderData span{
    margin: 3px;
    text-align: center;
}

span.dishLabel{
    font-weight: bold;
    min-width: 55px;
    flex-grow: 0;
}

span.dishCount{
    width: 20px;
    flex-grow: 0.5;
}

span.dishName{
    flex-grow: 2;
    flex-basis: 130px;
}