html,
body {
    height: 99%;
    background-color: #DDF8FC;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageContent {
    flex: 1 0 auto;
    overflow-y: scroll;
}

.pageFooter {
    flex: 0 0 auto;
}