<div id="isEmpty" title="Внимание" style="display: none">
    <p>Следующие поля не должны быть пустыми:</p>
    <p id="empf"></p>
</div>

<div id="confirm" title="Подтвердите удаление" style="display: none">
    <p>Вы дествительно хотите удалить этот элемент?</p>
</div>

<div id="confirmMenu" title="Подтвердите удаление" style="display: none">
    <p>Вы дествительно хотите удалить меню?</p>
</div>

<div id="confirmOrder" title="Подтвердите удаление" style="display: none">
    <p>Вы дествительно хотите удалить заказ?</p>
</div>

<div id="confirmMenuReplace" title="Подтвердите перемещение" style="display: none">
    <p>Вы дествительно хотите перемести это меню?</p>
</div>