<div id="ajaxError" title="Ошибка!" class="ui-widget ui-state-error ui-corner-all" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert notice_icon"></span>
        <strong> ajaxError: </strong>
        <span id="text"></span>
    </p>
</div>

<div id="sqlError" title="Ошибка!" class="ui-widget ui-state-highlight ui-corner-all" style="display: none">
    <p>
        <span class="ui-icon ui-icon-info notice_icon"></span>
        <strong> mySqlError: </strong>
        <span id="text"></span>
    </p>
</div>