<!-- Site Elements -->
<link rel="stylesheet" type="text/css" href="/css/commonStyle.css">
<link rel="stylesheet" type="text/css" href="/css/pageFlex.css">
<link rel="stylesheet" type="text/css" href="/css/siteTop.css">
<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/waiter.css">
<link rel="stylesheet" type="text/css" href="/css/calendarHeader.css">
<link rel="stylesheet" type="text/css" href="/css/dishMenuFlex.css">

<!-- Tags -->
<link rel="stylesheet" type="text/css" href="/css/buttonTag.css">
<link rel="stylesheet" type="text/css" href="/css/hrTag.css">
<link rel="stylesheet" type="text/css" href="/css/pTag.css">
<link rel="stylesheet" type="text/css" href="/css/spanTag.css">
<link rel="stylesheet" type="text/css" href="/css/divTag.css">
<link rel="stylesheet" type="text/css" href="/css/inputTag.css">

